<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/invoice/invoice.css" data-th-href="@{/invoice.css}">
    <script src="../static/invoice/invoice.js" data-th-src="@{/invoice.js}"></script>
</head>
<body>
<!--    <thead>-->
<!--        <tr>-->
<!--            <th>Emise</th>-->
<!--            <th></th>-->
<!--            <th>Action</th>-->
<!--            <th>NB Candidats</th>-->
<!--            <th>Encaissé</th>-->
<!--            <th>Réf.</th>-->
<!--            <th>Client</th>-->
<!--            <th>Nature</th>-->
<!--            <th>HT</th>-->
<!--            <th>TVA</th>-->
<!--            <th>TVA SOMME</th>-->
<!--            <th>TTC</th>-->
<!--            <th>Encaissement</th>-->
<!--        </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="invoices,state: ${invoices}">-->
<!--        <td th:utext="${invoices.id}"></td>-->
<!--        <td th:utext="${invoices.firstname}"></td>-->
<!--        <td th:utext="${invoices.email}"></td>-->
<!--        <td th:utext="${invoices.password}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
</body>
</html>